h1{
    font-family: 'p22-mackinac-pro', serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-style: normal;
    font-size: 21px;
    margin-top: .4rem;
}

h2 {
    font-weight: 600;
    font-family: 'p22-mackinac-pro', sans-serif;
    font-size: 28px;
}

.btn-secondary {
    font-family: 'p22-mackinac-pro', serif;
    background-color: #0cb2ff;
    border-color: #0cb2ff; /* Button border color */
    color: white; /* Text color */
    margin-right: 3px;
}

@media only screen and (max-width: 767px) {
    h2{
        font-size: 23px;
        margin-top:0;
    }
    h1 {
        margin: 1rem;
        font-size: 20px;
    }
}